<html lang="en">

  <body class="bg-dark d-flex justify-content-center align-items-center vh-100">
    <div
      class="bg-white p-5 rounded-5 text-secondary shadow"
      style="width: 25rem"
    >
      <div class="d-flex justify-content-center">
        <img
          src="https://assets.stickpng.com/images/585e4beacb11b227491c3399.png"
          alt="login-icon"
          style="height: 7rem"
        />
      </div>
      <div class="text-center fs-1 fw-bold">Crear nuevo Usuario</div>
      <div class="input-group mt-4">
        <input
          class="form-control bg-light"
          type="text"
          placeholder="Nombre de usuario"
        />
      </div>


      <div class="input-group mt-4">
        <input
          class="form-control bg-light"
          type="text"
          placeholder="Correo"
        />
      </div>

      <div class="input-group mt-4">
        <input
          class="form-control bg-light"
          type="text"
          placeholder="Contrasena"
        />
      </div>



      <div class="">
        <a href="/productos" class="btn btn-info text-white w-100 mt-4 fw-semibold shadow-sm"
        >Crear</a
        >
      </div>
    </div>
  </body>
</html>

