<nav class="navbar navbar-dark bg-dark">
  <span class="navbar-text">
    MadeCom
  </span>
  <a class="navbar-brand" href="/productos">Productos</a>
  <a class="navbar-brand" href="/carrito">Carrito</a>
  <a class="navbar-brand" href="/usuarios">Usuarios</a>
  <a class="navbar-brand" href="/prefil">Perfil</a>
  <a class="navbar-brand" href="/login">login</a>
</nav>
  <H1>Usuarios Registrados</H1>
<br>
<table class="table table-dark table-hover">

    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td colspan="2">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
</table>
